<html>
<head>
	<title> Book of the Month </title>
	<link rel="stylesheet" href="bom.css">


</head>
<body>
	<body>
    <div class="header">
		<h1>Book of the Month</h1>
	</div>

	<form method="get" action="/w">
		<button class="mainmenu">Main Menu</button>
	</form>

	<div class="area"></div>







</body>
</html>