<html>
<head>
	<title>Review</title>
	<link rel="stylesheet" href="review2.css">


</head>
<body>
	<body>
    

	<form method="get" action="/w">
		<button class="mainmenu">Main Menu</button>
	</form>

<div class= "container">
<form mehtod="get" action="reviews">
  <label class="aname" for="name">Your Name:</label><br>
  <input type="text" id="name" name="name" class="name"><br>
  <label class="abtitle" for="btitle">Book Title:</label><br>
  <input type="text" id="btitle" name="btitle" class="btitle"><br>
  <label class="aauthor" for="Author">Author:</label><br>
  <input type="text" id="author" name="author" class="author"><br>
  <div class="theme-select" style="width:200px;">
  <select>
    <option value="0">Select Theme:</option>
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option value="7"></option>
    <option value="8"></option>
    <option value="9"></option>
    <option value="10"></option>
    <option value="11"></option>
    <option value="12"></option>
  </select>
</div>
  <label class="areview" for="review">Review:</label><br>
  <input type="text" placeholder="Type here..." id="review" name="review" class="review"><br>
  <input class= "submit" type="submit" value="Submit"><br>
</form>
</div>






</body>
</html>