  <html>
<head>
	<title> Boogle </title>
	<link rel="stylesheet" href="login.css">


</head>
<body>


  <div class="container">
    <!-- 	<form method="get" action="/w">
    		<label class="loginn" for="loginn">Login:</label><br>
  			<input type="text" id="login" name="login" class="login"><br>
  			<label class="passwordd" for="passwordd">Password:</label><br>
  			<input type="text" id="password" name="password" class="password"><br>
  			<input class= "submit" type="submit" value="Submit"><br>
	 	</form> -->
    
	</div>

	<form method="get" action="/w">
		<button class="mainmenu">Main Menu</button>
	</form>


</body>
</html>