<html>
<head>
	<title> Search Results </title>
	<link rel="stylesheet" href="search.css">


</head>
<body>

<div class="container">
	<div class="links">
    	<h1>Here are some books that match your search for: "{{I}}"</h1>
    	
		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS1}}">
			<button class="b">{{BOOKS1}}</button>
 		</form>
	 	
	 	<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS2}}">
			<button class="b">{{BOOKS2}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS3}}">
			<button class="b">{{BOOKS3}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS4}}">
			<button class="b">{{BOOKS4}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS5}}">
			<button class="b">{{BOOKS5}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS6}}">
			<button class="b">{{BOOKS6}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS7}}">
			<button class="b">{{BOOKS7}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS8}}">
			<button class="b">{{BOOKS8}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS9}}">
			<button class="b">{{BOOKS9}}</button>
 		</form>

 		<form method="get" action="results">
			<input type="hidden" name="query" value="{{BOOKS10}}">
			<button class="b">{{BOOKS10}}</button>
 		</form>

	</div>
</div>

<form method="get" action="/w">
		<button class="mainmenu">Back</button>
	</form>


</body>
</html>