<html>
<head>
	<title> Boogle </title>
	<link rel="stylesheet" href="style.css">


</head>
<body>
    <div>
		<h1 class="header">Boogle</h1>
	</div>
	<div class=title1 ></div>
	<form action="/auth/google" method="GET">
      <button class="button" type="submit">Login With Google</button>
	</form>


 
    
	



</body>
</html>