html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial;
    /*background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1493&q=80);*/
    /*background-image: url(https://images.unsplash.com/photo-1466094899371-97b327dff551?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);*/
    background-image: url(https://images.unsplash.com/photo-1528819027803-5473f2bf7633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
    /*background-image: url(https://images.unsplash.com/photo-1546500840-ae38253aba9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2060&q=80);*/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    image-rendering: high-quality;
    overflow: clip;
}

.header {
    text-align: center;
    color: white;
    font-size: 20px;
    width: 500px;
    height: 100px;
    border-radius: 25px;
    background: transparent;
    position: fixed;
    top: 0%;
    left: 33%;
}
.mainmenu {
    background-color: rgba(200, 200, 200, 0.6);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.5s;
    position: fixed;
    top: 3%;
    left: 88%;
 }
 .mainmenu:hover {
    background-color: white;
    color: black;
}
.query {
    background-color: rgba(200, 200, 200, 0.6);
    color: white;
    display: block;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 16px;
    border: transparent;
    border-radius: 15px;
    padding:15px;
    cursor: pointer;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 1000px;
    height: 550px;
    border-radius: 25px;
    background: rgba(200, 200, 200, 0.6);
    position: fixed;
    top: 15%;
    left: 15%;
}